
<h2 class="title">Clientes Cadastrados</h2>
<div class="database-container">
    <ul class="base-info flexStyle">
        <li>id</li>
        <li>Nome</li>
        <li>CNPJ</li>
        <li>Telefone</li>
        <li>Email</li>
        <li>Inserido em</li>

    </ul>
    <ul *ngFor="let clientData of clientDatas " class="data-base flexStyle">
        <li>{{ clientData.id_cliente }}</li>
        <li>{{ clientData.nome }}</li>
        <li>{{ clientData.cnpj }}</li>
        <li>{{ clientData.tel }}</li>
        <li>{{ clientData.email }}</li>
        <li>{{ clientData.data_cad | date:'dd MMMM yyyy' }}</li>
        <div class="delete-line" routerLink="/clients/management/update/{{clientData.id_cliente}}"><img src="../../../../../assets/img/gear.png" alt=""></div>
    </ul>
    



