<div class="container">
    <h2 id="propLegal">Altere os dados do Cliente</h2>
    <div class="row100">
        <div class="col">
            <div class="inputBox">
                <input type="text" name="nome" required [(ngModel)]="clientDatas.nome">
                <span class="text">Nome</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="col">
            <div class="inputBox">
                <input class="title" type="number" name="cnpj" required [(ngModel)]="clientDatas.cnpj">
                <span class="text">CNPJ</span>

                <span class="line"></span>
            </div>
        </div>
    </div>


    <div class="row100">
        <div class="col">
            <div class="inputBox">
                <input class="title" type="number" name="tel" required [(ngModel)]="clientDatas.tel">
                <span class="text">Telefone </span>

                <span class="line"></span>
            </div>
        </div>
            <div class="col">
                <div class="inputBox">
                    <input class="title" type="email" name="email" required [(ngModel)]="clientDatas.email">
                    <span class="text">Email </span>

                    <span class="line"></span>
                </div>
        </div>
</div>
            <div class="row100">
                
                <div class="col">
                    <div class="inputBox">
                        <input class="title" type="text" name="logo" required [(ngModel)]="clientDatas.logo">
                        <span class="text">Insira o link da logo do roteador </span>

                        <span class="line"></span>
                    </div>
                </div>
                </div>
                <div class="row100">

                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="est_end" required [(ngModel)]="clientDatas.est_end">
                            <span class="text">Estado</span>

                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="rua_end" required [(ngModel)]="clientDatas.rua_end">
                            <span class="text">Rua </span>

                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="bairro_end" required
                                [(ngModel)]="clientDatas.bairro_end">
                            <span class="text">Bairro</span>

                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="row100">
                    

                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="n_end" required [(ngModel)]="clientDatas.n_end">
                            <span class="text">N°</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="cid_end" required [(ngModel)]="clientDatas.cid_end">
                            <span class="text">Cidade</span>

                            <span class="line"></span>
                        </div>
                    </div>


            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <button (click)="updateClient()">Salvar Roteador</button>

                    </div>
                </div>
            </div>
            <div class="result-container">
            </div>

        </div>