<div class="container">
    <h2 id="propLegal">Altere os dados do Cliente</h2>
    <div class="row100">
        <div class="col">
            <div class="inputBox">
                <input type="text" name="nome" required [(ngModel)]="clientData.nome">
                <span class="text">Nome</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="col">
            <div class="inputBox">
                <input class="title" type="number" name="cnpj" required [(ngModel)]="clientData.cnpj">
                <span class="text">CNPJ</span>

                <span class="line"></span>
            </div>
        </div>
    </div>


    <div class="row100">
        <div class="col">
            <div class="inputBox">
                <input class="title" type="number" name="tel" required [(ngModel)]="clientData.tel">
                <span class="text">Telefone </span>

                <span class="line"></span>
            </div>
        </div>
            <div class="col">
                <div class="inputBox">
                    <input class="title" type="email" name="email" required [(ngModel)]="clientData.email">
                    <span class="text">Email </span>

                    <span class="line"></span>
                </div>
        </div>
</div>
            <div class="row100">
                
                <div class="col">
                    <div class="inputBox">
                        <input class="title" type="text" name="logo" required [(ngModel)]="clientData.logo">
                        <span class="text">Insira o link da logo do roteador </span>

                        <span class="line"></span>
                    </div>
                </div>
                </div>
                <div class="row100">

                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="est_end" required [(ngModel)]="clientData.est_end">
                            <span class="text">Estado</span>

                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="rua_end" required [(ngModel)]="clientData.rua_end">
                            <span class="text">Rua </span>

                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="rua_end" required
                                [(ngModel)]="clientData.bairro_end">
                            <span class="text">Bairro</span>

                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="row100">
                    

                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="n_end" required [(ngModel)]="clientData.n_end">
                            <span class="text">N°</span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input class="title" type="text" name="cid_end" required [(ngModel)]="clientData.cid_end">
                            <span class="text">Cidade</span>

                            <span class="line"></span>
                        </div>
                    </div>


            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <button (click)="createClient()">Salvar Roteador</button>
                        <button (click)="cancel()">Cancelar</button>

                    </div>
                </div>
            </div>
            <div class="result-container">
                <!-- <router-outlet></router-outlet> -->
            </div>

        </div>